<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <div class="sidebar-img">
      <p>
      <img src="{{ site.baseurl }}/assets/cs251a.svg" alt="cs251a" />
      </p>
      </div>


      <h1>{{ site.title }}</h1>
      <p class="lead">{{ site.tagline }}</p>
    </div>

    <ul class="sidebar-nav">
      <li class="sidebar-nav-item{% if page.title == "Overview" %} active{% endif %}">
      <a href="{{ site.baseurl }}/">Overview</a>
      </li>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <li class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}">
            <a href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>
            </li>
          {% endif %}
          {% if node.layout == "link" %}
            <li class="sidebar-nav-item">
            <a href="{{ node.linkurl }}">{{ node.title }}</a>
            </li>
          {% endif %}
        {% endif %}
      {% endfor %}

    </ul>

<!--    <ul class="sidebar-nav">
      <li class="sidebar-nav-item{% if page.title == "Blog" %} active{% endif %}">
      <a href="{{ site.baseurl }}/blog">Blog</a>
      </li>
-->

  <a href="http://piazza.com/ucla/fall2018/cs251a" class="flink">Piazza</a>

  </div>
</div>
